@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgba(7, 0, 0, 0.246), rgb(3, 90, 89));
  background-attachment: fixed;
  font-size: 20px;
  font-family: 'Rowdies', cursive;
}

#btn-component {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  height: 45px;
  font-size: 15px;
}
input[type="button"] {
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.657);
  border-radius: 5px;
  background-color: #486eab;
  color: white;
  cursor: pointer;
  width: 130px;
}
#submit-btn{
  background-color: #16dd69;
  box-shadow: 0px 0px 10px black;
}
#submit-btn:hover{
  box-shadow: none;
  transition: 0.5s ease-in-out ;
}
input[type="button"]:hover{
  box-shadow: none;
  transition: 0.5s ease-in-out ;
}
input[type="button"]:disabled {
  background-color: #bdc3c7;
  box-shadow: 0px 0px 10px rgba(0, 6, 5, 0.623);
  cursor: not-allowed;
}
input[type="range"]{
  width: 400px;
}

#page-number {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

div {
  padding: 10px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input[type="text"], input[type="range"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
}

input[type='radio'] {
  margin-right: 10px;
}

label {
  display: inline-block;
  margin-right: 10px;
}
.prop-guidline{
  border: 1px solid white;
 box-shadow: 10px 12px 25px rgba(0, 0, 0, 0.752);
}