body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#btn-component {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

input[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

input[type="button"]:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

#page-number {
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

div {
  padding: 10px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input[type="text"], input[type="range"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
}

input[type='radio'] {
  margin-right: 5px;
}

label {
  display: inline-block;
  margin-right: 10px;
}