@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
body {
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to right, rgba(57, 175, 134, 0.61), rgba(77, 106, 109, 0.767), rgba(121, 132, 120, 0.705) ); */
  /* background-image: linear-gradient(to right, rgba(66, 75, 84, 0.61), rgb(77, 106, 109)); */
  background-image: linear-gradient(to right, rgb(8, 24, 51),rgb(28, 41, 54));
  background-attachment: fixed;
  font-size: 20px;
  font-family: 'Bacasime Antique', serif;
}

#btn-component {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  height: 45px;
  font-size: 15px;
}
input[type="button"] {
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.657);
  border-radius: 5px;
  background-color: #486eab;
  color: white;
  cursor: pointer;
  width: 130px;
  margin-left: 5px;
}

#submit-btn{
  background-color: #16dd69;
  box-shadow: 0px 0px 10px black;
}
#submit-btn:hover{
  box-shadow: none;
  transition: 0.5s ease-in-out ;
}
input[type="button"]:hover{
  box-shadow: none;
  transition: 0.5s ease-in-out ;
}
input[type="button"]:disabled {
  background-color: #bdc3c7;
  box-shadow: 0px 0px 10px rgba(0, 6, 5, 0.623);
  cursor: not-allowed;
}
input[type="range"]{
  width: 400px;
}

#page-number {
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: whitesmoke;
}

div {
  padding: 10px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input[type="text"], input[type="range"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
}

input[type='radio'] {
  margin-right: 10px;
}

label {
  display: inline-block;
  margin-right: 10px;
}
.prop-guidline{
  border: 1px solid white;
 box-shadow: 10px 12px 25px rgba(0, 0, 0, 0.752);
 margin: 0 0 30px 0; 
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 16px;
 background-color: rgba(223, 160, 110, 0.719);
}

.prop-guidline p{
  height: 10px;
}

.range-div{
  display: flex;
  justify-content: space-between;
}

input#range-color {
    background-image: linear-gradient(to right, #99EB90,#BF8662, #D84244);
}

.range-div input[type="range"] {
  -webkit-appearance: none;
  height: 5px;
  background-image: linear-gradient(to right, #42B3F5, #609CD2, #7E86AE, #9C6F8B, #BA5967, #D84244);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.range-div input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  background:#fff3d1 ;
  border-radius: 0;
  border: #fff3d1;
  cursor: col-resize;
}

.confirmation-modal{
  background-color:rgb(241, 241, 197);
  box-shadow: 0px 0px 10px black;
  border-radius: 15px;
  height: 400px;
  width: 65%;
  margin: 10% 15% 10% 15%;
}
.confirmation-modal button{
  margin-left: 15px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #8BBD8B;
  box-shadow: 0px 0px 10px black;
}

.confirmation-modal button:hover{
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.classifier-text{
  text-align: center;
  color: white;
}

.stmnt{
  color: #F86F03;
  font-weight: bold;
}

.stmnt-inp-text{
  color: #a5958a;
  font-weight: bold;
  margin-bottom: 2px;
}

.stmnt-text{
  color: white;
}

.load{
  margin-top: 150px;
  text-align: center;
  font-size: 30px;
}

input[type="text"]{
  width: 70%;
  height: 25px;
}

form{
  display: block;
}