.modal{
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1000px rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 7px;
  width: 70%;
  justify-content: center;
  position: absolute;
  top: 15%;
  right: 4%;
  left: 15%;
  animation: visibilityOfModal .4s ease-out;
}
@keyframes visibilityOfModal{
  from {opacity: 0.3;}
  to {opacity: 1;}
}


/* massage */

#massages{
  display: grid;
  grid-template-columns: repeat(3,1fr); 
  border: none;
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(197, 197, 197);
}
.firstChildOfMassages{
  text-align: justify;
}
#massages b{
  font-size: 15px;
  color: rgb(114, 114, 114);
}
/* btn */

.btns{
  display: flex;
  justify-content: center;
}
.btns button{
  margin: 5px;
  height: 25px;
  width: 100px;
  border-radius: 7px;
  border: none;
  background-color: rgb(233, 232, 232);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.938);
}
.btns button:hover{
  background-color: white;
  box-shadow: none;
  transition: 0.5s ease-out;
}

/* media quary */
@media only screen and (max-width: 991px) {
  .modal{
    text-align: center;
    font-size: 6px;
    width: 70%;
    justify-content: center;
    position: absolute;
    top: 7%;
    right: 4%;
    left: 15%;
  }
  #massages{
   display: flex;
   flex-direction: column;
   margin: 2px;
  }
  .firstChildOfMassages{
    text-align: center;
  }
}
